.title {
  text-transform: lowercase;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  transform: rotate(270deg);
}

@media only screen and (max-width: 500px) {
  .title {
    transform: rotate(0deg);
  }
}
