@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

.container {
  display: grid;
  grid-template-columns: 10% 45% 45%;
  place-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.form {
  display: grid;
  row-gap: 0.5rem;
}

.button {
  background-color: rgb(123 217 159);
  border: none;
  padding: 0.3rem;
  color: white;
  text-align: center;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: rgb(123 217 159 / 50%);
}

.explanation {
  color: rgb(123 217 159);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: lowercase;
}
