@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --color-primary: rgb(123 217 159);
  --color-primary-shadow: rgb(123 217 159 / 50%);
  --color-secondary: black;
  --color-tertiary: white;
}

/* body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
